@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;500;700&display=swap');

:root{
    --orange: rgb(247, 99, 45);
    --white: #eee7e7;
    --blue: #437dd9;
}


*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
}

.html{
    font-size: 65%;
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden;
}

body{
    display: block;
}

/*--------------------------- HEADER---------------------- */

header{
    background-color: white;
    margin-bottom: 1rem;
}

.logo{
    font-size: 1.3rem;
    font-weight: bolder;

    text-transform: uppercase;
    text-align: center;

    margin-top: 2rem;
}

.logo span{
    color: var(--orange);
}

/* ----------------------------MAIN--------------------- */
main{
    display: flex;
    width: 80%;
    margin: 0 auto;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.1);
}


/* ----------------------------CONTENT------------------- */

.body-left{
    flex: 2;
    padding-left: 1rem;
}

.content-items{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}

.content-item{
    width: 100%;
}

.content-item .content-title h2{
    margin: 1rem 0;
}

.content-item .item-list{
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
}

.item-list .card{
    display: flex;
    flex-direction: column;

    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.1);

    width: 21%;
    height: auto;
}

.card img{
    width: 100%;
    height: 100%;

    object-fit: fill;
    border-radius: 5px 5px 0 0;
}

.card .card-info{
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-content: center;

    background-color: #fff;

}


.card-info h5{
    text-transform: capitalize;
    text-align: left;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    padding: 15px;

}

.card .card-info button{
    margin: .5rem .5rem;
    border-radius: 10px;

    font-size: 12px;
    color: #eee7e7;

    width: 100px;
    height: 30px;

    background-color: var(--orange);
    cursor: pointer;
}


/* ---------------------------CART------------------------ */
.body-right{
    flex: 1;

}

.cart-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;

    
}

.cart-bill{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
    gap: 1rem;

    margin-top: 30%;
    
    
}

.cart-bill input{
    font-size: 18px;
    padding: .5rem;

    border-radius: .2rem;
    border: .1rem solid #bebeeb;

    outline: none;
    width: 80%;


}

.cart-bill .btn-booking{
    width: 30%;
    font-size: 18px;
    padding: .5rem;

    border-radius: 10px;
    color: #fff;
    background-color: var(--orange);
    cursor: pointer;
    
}